<app-navbar></app-navbar>

<div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wallpaperaccess.com/full/1348797.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images5.alphacoders.com/114/thumb-1920-1148666.png"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/2247177.jpg"class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="https://laverdadnoticias.com/__export/1634215732066/sites/laverdad/img/2021/10/14/fifa_insiste_en_que_la_copa_mundial_se_realice_cada_dos_anos.jpeg_1297462541.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Torneos</h5>
        </div>
      </div>
      <div class="card">
        <img src="https://image.winudf.com/v2/image/Y29tLnBhbmRvcmFpbnRlcmFjdGl2ZS5jb3BhY2hhbXBpb25zX3NjcmVlbnNob3RzXzBfMmIyZDNlMTk/screen-0.jpg?fakeurl=1&type=.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ligas</h5>
          <p class="card-text">Organiza tus Ligas, Torneos y Equipos aquí:</p>
          <button class="btn btn-secondary">Aquí</button>
        </div>
      </div>
      <div class="card">
        <img src="https://media.revistagq.com/photos/5ca5f23827f264ee357c9875/master/pass/escudos_6173.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Equipos</h5>
        </div>
      </div>
    </div>
    <footer>
     <p class="text-center mb-3 mt-3"> Torneo Deportivo Front por: Josué Valle, Brian Solano, Daniel Suárez, Daniel Véliz, Walter Sactic, Juan Quino</p>
    </footer>
  </div>  

