<app-navbar></app-navbar>
<div class="text-center m-3">
    <button type="button" class="btn btn-outline-success" 
      data-bs-toggle="modal" data-bs-target="#exampleModal">Crear nuevo usuario</button>
  </div>

  <div class="row justify-content-center px-4" *ngIf="users">
    <div *ngFor="let user of users" class="card m-4" style="width: 18rem; ">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-subtitle mb-2"> Nombres: {{ user.name }} </p>
            <p class="card-subtitle mb-2"> Apellidos: {{ user.surname }} </p>
            <p class="card-subtitle mb-2"> Username: {{ user.username }} </p>
            <p class="card-subtitle mb-2"> Email: {{ user.email }} </p>
            <p class="card-subtitle mb-2"> Role: {{ user.role }} </p>
        <div  *ngIf="user.role === 'CLIENT'" class="text-center  ms-3">
          <button   (click)="getUser(user._id)" class="btn btn-warning m-2" data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasExample" 
          aria-controls="offcanvasExample">
            Actualizar</button>
          <button  (click)="deleteUser(user._id)" class="btn btn-danger " >Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addUserForm="ngForm">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input [(ngModel)]="user.name" name= "name" type="text" class="form-control">
              <label for="exampleInputEmail1" class="form-label">Surname</label>
              <input [(ngModel)]="user.surname" name= "surname" type="text" class="form-control">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input [(ngModel)]="user.username" name= "username" type="text" class="form-control">
              <label for="exampleInputEmail1" class="form-label">email</label>
              <input [(ngModel)]="user.email" name= "email" type="text" class="form-control">
              <label for="exampleInputEmail1" class="form-label">Password</label>
              <input [(ngModel)]="user.password" name= "password" type="text" class="form-control">
              <label for="exampleInputEmail1" class="form-label">Phone</label>
              <input [(ngModel)]="user.phone" name= "phone" type="text" class="form-control">
              <label class="form-label">Role</label>
                        <select [(ngModel)]="user.role" name="role" class="form-select">
                            <option value="ADMIN">ADMIN</option>
                            <option value="CLIENT">CLIENT</option>
                        </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="saveUser(addUserForm)" type="button" class="btn btn-primary" 
          data-bs-dismiss="modal">Guardar usuario</button>
        </div>
      </div>
    </div>
  </div>

  <!--  update-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar usuario</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      
      <form class="form-inline text-center" (ngSubmit)="updateUser()" *ngIf="userGetId">
        <div class="form-group mx-sm-3 mb-2">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input [(ngModel)]="userGetId.name" name= "name" type="text" class="form-control">
          <label for="exampleInputEmail1" class="form-label">Surname</label>
          <input [(ngModel)]="userGetId.surname" name= "surname" type="text" class="form-control">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input [(ngModel)]="userGetId.username" name= "username" type="text" class="form-control">
          <label for="exampleInputEmail1" class="form-label">email</label>
          <input [(ngModel)]="userGetId.email" name= "email" type="text" class="form-control">
          <label for="exampleInputEmail1" class="form-label">phone</label>
          <input [(ngModel)]="userGetId.phone" name= "phone" type="text" class="form-control">
          
          <label class="form-label">Role</label>
                        <select [(ngModel)]="userGetId.role" name="role" class="form-select">
                            <option value="ADMIN">ADMIN</option>
                            <option value="CLIENT">CLIENT</option>
                        </select>>
        </div>
        <button type="submit" class="btn btn-primary mb-2" data-bs-dismiss="offcanvas">Guardar</button>
      </form> 
  
    </div>
  </div>

  